In [85]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [86]:
zomato=pd.read_csv('zomato.csv',encoding='latin-1')

In [87]:
zomato.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [88]:
zomato.shape

(9551, 21)

In [89]:
zomato.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
Restaurant ID           9551 non-null int64
Restaurant Name         9551 non-null object
Country Code            9551 non-null int64
City                    9551 non-null object
Address                 9551 non-null object
Locality                9551 non-null object
Locality Verbose        9551 non-null object
Longitude               9551 non-null float64
Latitude                9551 non-null float64
Cuisines                9542 non-null object
Average Cost for two    9551 non-null int64
Currency                9551 non-null object
Has Table booking       9551 non-null object
Has Online delivery     9551 non-null object
Is delivering now       9551 non-null object
Switch to order menu    9551 non-null object
Price range             9551 non-null int64
Aggregate rating        9551 non-null float64
Rating color            9551 non-null object
Rating text             9551 non-null object
Votes                   9551 non-null int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [90]:
#y=average cost of two
corr=zomato.corr()

In [91]:
corr['Average Cost for two'].sort_values(ascending=False)
corr['Average Cost for two']

Restaurant ID          -0.001693
Country Code            0.043225
Longitude               0.045891
Latitude               -0.111088
Average Cost for two    1.000000
Price range             0.075083
Aggregate rating        0.051792
Votes                   0.067783
Name: Average Cost for two, dtype: float64

In [92]:
zomato['Country Code'].value_counts()

1      8652
216     434
215      80
214      60
30       60
189      60
148      40
208      34
14       24
162      22
94       21
191      20
166      20
184      20
37        4
Name: Country Code, dtype: int64

In [93]:
zomato=zomato[zomato['Country Code']==1]

In [94]:
len(zomato)

8652

In [77]:
mask1=zomato['City']=='New Delhi'
mask2=zomato['City']=='Gurgaon'
mask3=zomato['City']=='Noida'
zomato=zomato[mask1|mask2|mask3]

In [78]:
len(zomato)

7671

In [79]:
zomato.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7671 entries, 1161 to 9112
Data columns (total 21 columns):
Restaurant ID           7671 non-null int64
Restaurant Name         7671 non-null object
Country Code            7671 non-null int64
City                    7671 non-null object
Address                 7671 non-null object
Locality                7671 non-null object
Locality Verbose        7671 non-null object
Longitude               7671 non-null float64
Latitude                7671 non-null float64
Cuisines                7671 non-null object
Average Cost for two    7671 non-null int64
Currency                7671 non-null object
Has Table booking       7671 non-null object
Has Online delivery     7671 non-null object
Is delivering now       7671 non-null object
Switch to order menu    7671 non-null object
Price range             7671 non-null int64
Aggregate rating        7671 non-null float64
Rating color            7671 non-null object
Rating text             7671 non-null object
Votes                   7671 non-null int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.3+ MB

In [84]:
zomato=zomato[['Average Cost for two','Cuisines','City','Longitude','Latitude','Has Table booking','Has Online delivery','Price range','Aggregate rating','Votes']]
zomato.head()

KeyError: "['City'] not in index"

In [81]:
#fetching X,y
X=zomato.iloc[:,1:].values
y=zomato.iloc[:,0].values
X

array([['Cafe, Beverages', 77.0393103, 28.4248315, ..., 1, 3.4, 16],
       ['North Indian, Mughlai', 77.0392204, 28.4249125, ..., 2, 2.7, 80],
       ['North Indian, Mughlai', 77.09711779999999, 28.503076899999996,
        ..., 4, 4.3, 1887],
       ...,
       ['Fast Food', 77.367188, 28.557841800000002, ..., 2, 0.0, 3],
       ['North Indian, Chinese', 77.3673216, 28.557929700000003, ..., 2,
        0.0, 0],
       ['Raw Meats, Fast Food', 77.367188, 28.557851799999998, ..., 1,
        0.0, 1]], dtype=object)

In [82]:
y

array([ 350,  800, 2000, ...,  600,  500,  250], dtype=int64)

In [83]:
len(zomato)

7671

In [60]:
#5.handling categorical data
from sklearn.preprocessing import LabelEncoder,OneHotEncoder  
le_X=LabelEncoder() 
X[:,3]=le_X.fit_transform(X[:,3])
X

array([['Cafe, Beverages', 77.0393103, 28.4248315, ..., 1, 3.4, 16],
       ['North Indian, Mughlai', 77.0392204, 28.4249125, ..., 2, 2.7, 80],
       ['North Indian, Mughlai', 77.09711779999999, 28.503076899999996,
        ..., 4, 4.3, 1887],
       ...,
       ['Fast Food', 77.367188, 28.557841800000002, ..., 2, 0.0, 3],
       ['North Indian, Chinese', 77.3673216, 28.557929700000003, ..., 2,
        0.0, 0],
       ['Raw Meats, Fast Food', 77.367188, 28.557851799999998, ..., 1,
        0.0, 1]], dtype=object)

In [61]:
#5.handling categorical data
from sklearn.preprocessing import LabelEncoder,OneHotEncoder  
le_X=LabelEncoder() 
X[:,4]=le_X.fit_transform(X[:,4])
X

array([['Cafe, Beverages', 77.0393103, 28.4248315, ..., 1, 3.4, 16],
       ['North Indian, Mughlai', 77.0392204, 28.4249125, ..., 2, 2.7, 80],
       ['North Indian, Mughlai', 77.09711779999999, 28.503076899999996,
        ..., 4, 4.3, 1887],
       ...,
       ['Fast Food', 77.367188, 28.557841800000002, ..., 2, 0.0, 3],
       ['North Indian, Chinese', 77.3673216, 28.557929700000003, ..., 2,
        0.0, 0],
       ['Raw Meats, Fast Food', 77.367188, 28.557851799999998, ..., 1,
        0.0, 1]], dtype=object)

In [63]:
#5.handling categorical data
from sklearn.preprocessing import LabelEncoder,OneHotEncoder  
le_X=LabelEncoder() 
ohe=OneHotEncoder(categorical_features=[0])
X[:,0]=le_X.fit_transform(X[:,0])
X=ohe.fit_transform(X).toarray()
X

array([[0.000e+00, 0.000e+00, 0.000e+00, ..., 1.000e+00, 3.400e+00,
        1.600e+01],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 2.000e+00, 2.700e+00,
        8.000e+01],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 4.000e+00, 4.300e+00,
        1.887e+03],
       ...,
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 2.000e+00, 0.000e+00,
        3.000e+00],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 2.000e+00, 0.000e+00,
        0.000e+00],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.000e+00, 0.000e+00,
        1.000e+00]])

In [65]:
from sklearn.cross_validation import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=3)

In [66]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=600)
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.3383733055265902